<div class="ring outer-ring {{ ringColor }}" id="{{ ringId }}">
    <div class="ring middle-ring {{ ringColor }}">
        <div class="ring inner-ring {{ ringColor }}">
        </div>
    </div>
</div>
